<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer Template</title>
</head>
<body>
    <h1>Template con Jinja2 y Flask</h1>
    <h2>{{ vname }}</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis reprehenderit velit quasi repellat sunt ad earum expedita. Excepturi quidem deserunt porro. Impedit mollitia tempore dolorum suscipit? Atque veniam rem velit?</p>
</body>
</html>